body{
    width: 80%;
    margin-left: 10%;
}
header{
    position: relative;
    background-color: #FFF; 
}
.header.wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem
}
.brand{
    font-weight: bold;
    font-family: maven pro;
    font-size: 24px;
    padding-left: 2%;
}
.nav.wrapper{
    display: flex;
}

.nav.item a {
    display: block;
    padding: 1.5rem 1rem;
    color: #737a86;
}
ul{
    list-style-type: none;
    font-family: maven pro;
}
a{
    text-decoration: none;
    color: inherit;
}
.cart{
    width: 3%;
    padding-left: 30%;
    margin-right: 35px;
}
.imgContainer{
    width: 5%;
    height: 20%;
}
.profileImg{
    width: 100%;
    border-radius: 50%;
}
header::after{
    content:' ';
    display:block;
    border:0.5px solid #ecf6fa; 
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);;
}
.mainContainer{
    height: 800px;
}
.mainContainer .wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-top: 8%;
   
}
.mainContainer .wrapper .leftColumn{
    width: 50%;
    
}
.mainContainer .wrapper .rightColumn{
    width: 50%;
}
h1{
    font-family:Georgia;
    font-size: 36px;
}
h2{
    color: #ff7d1a;
    font-family: maven pro;
    font-size: 16px;
}
.description{
    color: #acadb1;
    font-family: maven pro;
    font-weight: 400;
}



.main__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 50px auto;
    gap: 20px;
    padding: 30px;
  }

  .product img:not(.next):not(.pre) {
    width: 450px;
  }

  .photosContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    align-self: center;
    justify-self: center;
  }
  .thumbsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .thumbsContainer img {
    width: 85px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  
  .thumbsContainer div {
    position: relative;
  }
  .overlay {
    position: absolute;
    width: 85px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 86px;
    bottom: 90px;
    background-color: rgba(255, 255, 255, 0.651);
    z-index: 100;
    visibility: hidden;
  }
  .show-overlay {
    visibility: visible;
    border: 2px solid hsl(26, 100%, 55%);
  }

p.price{
    font-family: Impact;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1px;
}
p.percentage{
    background: #ffede0;
    color:hsl(26, 100%, 55%);
    font-size: 22px;
    font-family: maven pro;
}
.oldPrice{
    text-decoration: line-through;
    color: #848a95;
    font-size: 20px;
}

.finalPrice{
    display: flex;
    align-items: center ;
    gap: 20px;
    margin-bottom: -25px;
}

.quantityPayment{
    display: flex;
    padding-top: 8%;
    align-items: center;
    gap:10%;
}
.quantity{
    width: 100px;
    height: 50px;
    background-color: #f7f8fd;
    display: flex;
    align-items: center;
    align-content: center;
}
.min, .plus{
    width: 20%;
}
.min{
    padding-left: 8%;
}
.plus{
    padding-right: 4%;
}
.quantity span{
    width: 40%;
    text-align: center;
    font-family: maven pro;
    font-weight: 600;
    font-size: 20px;
}

.payment{
    width: 200px;
    height: 50px;
    background-color: hsl(26, 100%, 55%);
    display: flex;
    align-items: center;
    align-content: center;
    gap:20px;
}

.quantity , .payment{
    border-radius: 10px;
}
.payText{
    font-family: maven pro;
    color: #FFF;
}
.buttonCart{
    width: 20%;
    padding-left: 8%;
    color: #FFF;
}
